@use "./reset";
@use "./variables/global";
@use "./themes/normal.scss";
@use "./themes/dark.scss";


.app {
    display: flex;
    column-gap: 50px;
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);

    min-height: 100vh;
}